{% extends 'base.html' %}

{% block title %}About{% endblock %}

{% block content %}
<h1>
    About Page
    <br/>
    <br/>
    <br/>

</h1>
<h5 style="text-align: center;">The instructor portal allows administrators to create user accounts, set user roles, and manage user access to different resources within the database. It will also provide a secure mechanism for users to log in to the system and access resources. It can also enforce policies related to passwords, two-factor authentication, and other security measures. In addition, the instructor portal enables administrators to grant or revoke resource access based on user roles, job functions, and other criteria. And will track user activity within the system and provides audit logs and reports that can be used to detect security incidents or compliance violations. Finally, it will also include features that allow users to reset their passwords, recover lost passwords, or change their passwords.</h5>
<!-- Add some spacing as a placeholder -->
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
{% endblock %}
