{% extends 'base.html' %}
{% load static %}


{% block title %}Home{% endblock %}

{% block content %}

 <!-- Masthead-->
 <header class="masthead text-white text-center">
    <div class="container d-flex align-items-center flex-column">
        <!-- Masthead Avatar Image-->
        <!-- <img class="masthead-avatar mb-5" src="{% static 'img/hs-logo-round.png' %}" alt="" />-->
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        <!-- Masthead Heading-->
        <!-- <h1 class="masthead-heading text-uppercase mb-0">INSTRUCTOR PORTAL</h1> -->
    </div>
</header>

<!--
<h1>
    HOME PAGE
</h1>
-->

<!-- Add some spacing as a placeholder -->

{% endblock %}
